@model IEnumerable<TarasPerepichka.IDP.WebShop.Models.ArticleModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" data-bind="foreach: articles">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title" data-bind="text: Name"></h3>
                <p class="card-text " data-bind="text: Description"></p>
                <p class="card-text" data-bind="text: Price"></p>
            </div>
        </div>
    </div>
</div>
