<div class="modal fade" id="orders_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h3 class="modal-title bg-green-meadow bg-font-green-meadow" id="Orders_label">Your orders</h3>
            </div>
            <div class="modal-body margin-bottom-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <h5 class="bold">Article name</h5>
                            </th>
                            <th>
                                <h5 class="bold">Quantity</h5>
                            </th>
                            <th>
                                <h5 class="bold">Description</h5>
                            </th>
                            <th>
                                <h5 class="bold">Price</h5>
                            </th>
                            <th>
                                <h5 class="bold">Summary</h5>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="class-parent">
                        <!-- ko foreach: ShoppingCart -->
                        <tr class="class-clild-1" data-bind="visible: Quantity() > 0">
                            <td class="class-sub-child-1">
                                <p class="" data-bind="text: Article.Name"></p>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-block btn-primary" data-bind="click: removeItem">
                                            <span class="glyphicon glyphicon-menu-down"></span>
                                        </button>
                                    </span>
                                    <span class="input-group-addon" data-bind="text: Quantity"></span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-block btn-primary" data-bind="click: addItem">
                                            <span class="glyphicon glyphicon-menu-up"></span>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="class-sub-child-2">
                                <p data-bind="text: Article.Description"></p>
                            </td>
                            <td>
                                <p data-bind="text: Article.Price"></p>
                            </td>
                            <td>
                                <p data-bind="text: Summary"></p>
                            </td>
                            <td>
                                <a href="#" class="btn-link" data-bind="click: CartRemoveProd">Remove</a>
                            </td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                    <tfoot class="class-parent">
                        <tr class="class-clild-2">
                            <td colspan="2">
                                <h3 class="bold">Total</h3>
                            </td>
                            <td colspan="4">
                                <h3 class="bold" data-bind="text: CartTotal"></h3>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <button type="button" class="btn btn-block btn-lg btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-md-5">
                        <button type="button" class="btn btn-block btn-lg btn-primary" data-bind="click: SaveShoppingCart">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>