<div class="modal fade idp-modal-center" id="orders_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-green-meadow">
                <h3 class="modal-title bg-green-meadow bg-font-green-meadow" id="Orders_label">Your orders</h3>
            </div>
            <div class="modal-body margin-bottom-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <h5 class="bold">Article name</h5>
                            </th>
                            <th>
                                <h5 class="bold">Quantity</h5>
                            </th>
                            <th>
                                <h5 class="bold">Description</h5>
                            </th>
                            <th>
                                <h5 class="bold">Price</h5>
                            </th>
                            <th>
                                <h5 class="bold">Summary</h5>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: ShoppingCart -->
                        <tr data-bind="visible: Quantity() > 0">
                            <td>
                                <p class="" data-bind="text: Article.Name"></p>
                            </td>
                            <td>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <button class="btn btn-block" data-bind="click: removeItem">
                                                <span class="glyphicon glyphicon-menu-down"></span>
                                            </button>
                                        </div>
                                        <div class="col-md-2">
                                            <p data-bind="text: Quantity"></p>
                                        </div>
                                        <div class="col-md-5">
                                            <button class="btn btn-block" data-bind="click: addItem">
                                                <span class="glyphicon glyphicon-menu-up"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p data-bind="text: Article.Description"></p>
                            </td>
                            <td>
                                <p data-bind="text: Article.Price"></p>
                            </td>
                            <td>
                                <p data-bind="text: Summary"></p>
                            </td>
                            <td>
                                <a href="#" class="btn-link" data-bind="click: CartRemoveProd">Remove</a>
                            </td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <h3 class="bold">Total</h3>
                            </td>
                            <td colspan="4">
                                <h3 class="bold" data-bind="text: CartTotal"></h3>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <button type="button" class="btn btn-block btn-lg red-thunderbird" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-md-5">
                        <button type="button" class="btn btn-block btn-lg blue" data-bind="click: SaveShoppingCart">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>